
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";


.page-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.y-map-container {

  display: block;
  .y-map-wrap {
    padding-top: 50%;
    background-color: #000;
    position: relative;
  }
  .y-map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  }

}

.y-info-container {
  padding-top: 20px;
  .text-monospace {
    font-size: 15px;
    vertical-align: baseline;
    span {
      display: inline-block;
      font-size: 18px;
      margin-right: 10px;
    }
  }
}

.el-table .success-row > td ,
.el-table .success-row {
  background: #c4ff00;
}